header {
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
	border-radius: 5px;
  background-color: white;
  padding: 10px
}

body {
  background-color: rgba(0, 0, 0, 0.90);
}

.container {
  width: 770px;
  margin: auto;
}

.neutral {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: #efeabe;
  background-image: url('neutral.png');
  background-size: cover;
  display: inline-block;
  float: left;
}

.blue {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: lightblue;
  background-image: url('blue.png');
  background-size: cover;
  display: inline-block;
  float: left;

}

.red {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: tomato;
  background-image: url('red.png');
  background-size: cover;
  display: inline-block;
  float: left;

}

.fortification {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: purple;
  display: inline-block;
  float: left;

}

.obstacle {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: green;
  display: inline-block;
  float: left;

}
