h1 {
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
	border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.93);
  padding: 10px;
  text-align: center;
  float: center;
}

body {
  background-color: rgba(0, 0, 0, 0.90);
  font-family: 'Press Start 2P', cursive;
}

.container {
  width: 770px;
  margin: auto;
}

.neutral {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: rgba(249, 249, 246, 0.68);
  background-image: url('neutral.png');
  background-size: cover;
  display: inline-block;
  float: left;
  color: white;
  margin: 2px;
}

.blue {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: #3868d4;
  background-image: url('blue.png');
  background-size: cover;
  display: inline-block;
  float: left;
  color: white;
  margin: 2px;

}

.red {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: #c83f19;
  background-image: url('red.png');
  background-size: cover;
  display: inline-block;
  float: left;
  color: white;
  margin: 2px;

}

.fortification {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: purple;
  display: inline-block;
  float: left;
  color: white;
  margin: 2px;

}

.obstacle {
  height: 100px; width: 100px;
  border: 1px solid black;
  background-color: green;
  display: inline-block;
  float: left;
  color: white;
  margin: 2px;

}

button {
  font-family: 'Press Start 2P', cursive;
  height: 20px;
  border-radius: 5px;
}
